<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<body>
<div layout:fragment="content" th:if="${adminLevel == 1 || adminLevel == 2}">
    <div class="content-card">

        <!-- Card Title -->
        <div class="card-header">
            <h2 th:text="${heading}"></h2>

            <button id="openModalBtn" class="icon-btn" title="Add">
                <svg xmlns="http://www.w3.org/2000/svg" width="27px" height="27px" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="var(--color-blue-dark)" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m3.75 9v6m3-3H9m1.5-12H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
                </svg>
            </button>
        </div>

        <!-- Input Parameters -->
        <div class="card-body">
            <div class="filter-form">
                <div class="input-group">
                    <label for="name">NAME</label>
                    <input id="name" type="text" placeholder="Name" title="Enter name">
                </div>
                <div class="input-group">
                    <label for="configKey">CONFIG KEY</label>
                    <input id="configKey" type="text" placeholder="Config Key" title="Enter config key">
                </div>
                <div class="input-group">
                    <label for="description">DESCRIPTION</label>
                    <input id="description" type="text" placeholder="Description" title="Enter description">
                </div>
                <div class="input-group">
                    <label for="createdDate">CREATED DATE</label>
                    <input id="createdDate" type="text" title="Select created date" placeholder="ᴅᴅ / ᴍᴍ / ʏʏʏʏ">
                </div>
                <div class="input-group">
                    <label>&nbsp;</label>
                    <button type="submit" id="filter-button" class="btn-primary">Filter</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Data Table -->
    <div class="card-table">
        <table id="logTable" class="datatable">
            <thead>
            <tr>
                <th>#</th>
                <th>Action</th>
                <th>Name</th>
                <th>Config Key</th>
                <th>Base URL</th>
                <th>Endpoint</th>
                <th>Subsystem</th>
                <th>Username</th>
                <th>Password</th>
                <th>Content Type</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <!-- Create Modal -->
        <div id="createModal" class="modal">
        <div class="modal-content">
            <span id="createModalClose" class="modal-close">&times;</span>
            <h2 id="createModalTitle">Create Security Server</h2>
            <div id="createModalBody">
                <form id="createServerForm" class="modal-form">
                    <div class="input-group">
                        <label for="createName">Name</label>
                        <input type="text" id="createName" name="name"/>
                        <div class="error-message" id="errorCreateName"></div>
                    </div>
                    <div class="input-group">
                        <label for="createConfigKey">Config Key</label>
                        <input type="text" id="createConfigKey" name="configKey"/>
                        <div class="error-message" id="errorCreateConfigKey"></div>
                    </div>
                    <div class="input-group">
                        <label for="createBaseURL">Base URL</label>
                        <input type="text" id="createBaseURL" name="baseURL"/>
                        <div class="error-message" id="errorCreateBaseURL"></div>
                    </div>
                    <div class="input-group">
                        <label for="createEndpoint">Endpoint</label>
                        <input type="text" id="createEndpoint" name="endpoint"/>
                        <div class="error-message" id="errorCreateEndpoint"></div>
                    </div>
                    <div class="input-group">
                        <label for="createSubsystem">Subsystem</label>
                        <input type="text" id="createSubsystem" name="subsystem"/>
                        <div class="error-message" id="errorCreateSubsystem"></div>
                    </div>
                    <div class="input-group">
                        <label for="createUsername">Username</label>
                        <input type="text" id="createUsername" name="username"/>
                        <div class="error-message" id="errorCreateUsername"></div>
                    </div>
                    <div class="input-group">
                        <label for="createPassword">Password</label>
                        <input type="text" id="createPassword" name="password"/>
                        <div class="error-message" id="errorCreatePassword"></div>
                    </div>
                    <div class="input-group">
                        <label for="createContentType">Content Type</label>
                        <input type="text" id="createContentType" name="contentType"/>
                        <div class="error-message" id="errorCreateContentType"></div>
                    </div>
                    <div class="input-group description-group">
                        <label for="createDescription">Description</label>
                        <textarea id="createDescription" name="description"></textarea>
                        <div class="error-message" id="errorCreateDescription"></div>
                    </div>
                </form>
            </div>
            <div class="actions">
                <button type="button" class="btn btn-secondary" id="cancelCreateModal">Cancel</button>
                <button type="submit" form="createServerForm" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>

    <!-- Edit Modal -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span id="modalClose" class="modal-close">&times;</span>
            <h2 id="modalTitle">Edit Server Configuration</h2>
            <div id="modalBody">
                <form id="editServerForm" class="modal-form">
                    <div class="input-group">
                        <label for="modalName">Name</label>
                        <input type="text" id="modalName" name="name"/>
                        <div class="error-message" id="errorName"></div>
                    </div>
                    <div class="input-group">
                        <label for="modalConfigKey">App Key</label>
                        <input type="text" id="modalConfigKey" name="configKey"/>
                        <div class="error-message" id="errorConfigKey"></div>
                    </div>
                    <div class="input-group">
                        <label for="modalBaseURL">Base URL</label>
                        <input type="text" id="modalBaseURL" name="baseURL"/>
                        <div class="error-message" id="errorBaseURL"></div>
                    </div>
                    <div class="input-group">
                        <label for="modalEndpoint">Endpoint</label>
                        <input type="text" id="modalEndpoint" name="endpoint"/>
                        <div class="error-message" id="errorEndpoint"></div>
                    </div>
                    <div class="input-group">
                        <label for="modalSubsystem">Subsystem</label>
                        <input type="text" id="modalSubsystem" name="subsystem"/>
                        <div class="error-message" id="errorSubsystem"></div>
                    </div>
                    <div class="input-group">
                        <label for="modalContentType">ContentType</label>
                        <input type="text" id="modalContentType" name="contentType"/>
                        <div class="error-message" id="errorContentType"></div>
                    </div>
                    <div class="input-group">
                        <label for="modalUsername">Username</label>
                        <input type="text" id="modalUsername" name="username"/>
                        <div class="error-message" id="errorUsername"></div>
                    </div>
                    <div class="input-group">
                        <label for="modalPassword">Password</label>
                        <input type="text" id="modalPassword" name="password"/>
                        <div class="error-message" id="errorPassword"></div>
                    </div>
                    <div class="input-group description-group">
                        <label for="modalDescription">Description</label>
                        <textarea id="modalDescription" name="description"></textarea>
                        <div class="error-message" id="errorDescription"></div>
                    </div>
                </form>
            </div>
            <div class="actions">
                <button type="button" class="btn btn-secondary" id="cancelModal">Cancel</button>
                <button type="submit" form="editServerForm" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
    <script th:src="@{/js/utils/function.js}"></script>
    <script th:src="@{/js/pages/security-server.js}"></script>
</div>
</body>
</html>