<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<body>
<div layout:fragment="content" th:if="${adminLevel == 1 || adminLevel == 2}">
    <div class="content-card">

        <!-- Card Title -->
        <div class="card-header">
            <h2 th:text="${heading}"></h2>

            <button id="openModalBtn" class="icon-btn" title="Add">
                <svg xmlns="http://www.w3.org/2000/svg" width="27px" height="27px" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="var(--color-blue-dark)" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
                </svg>
            </button>
        </div>

        <!-- Input Parameters -->
        <div class="card-body">
            <div class="filter-form">
                <div class="input-group">
                    <label for="username">USERNAME</label>
                    <input id="username" type="text" placeholder="Username" title="Enter username">
                </div>
                <div class="input-group">
                    <label>&nbsp;</label>
                    <button type="submit" id="filter-button" class="btn-primary">Filter</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Data Table -->
    <div class="card-table">
        <table id="logTable" class="datatable">
            <thead>
            <tr>
                <th>#</th>
                <th>Action</th>
                <th>Username</th>
                <th>Role</th>
                <th>Branch</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <!-- Modal Create -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span id="modalClose" class="modal-close">&times;</span>
            <h2 id="userModalTitle">Create User</h2>
            <div id="userModalBody">
                <form id="userForm" class="modal-form">
                    <div class="input-group">
                        <label for="modalUsername">Username</label>
                        <input type="text" id="modalUsername" name="username"/>
                        <div class="error-message" id="errorUsername"></div>
                    </div>
                    <div class="input-group">
                        <label for="modalEmail">Email</label>
                        <input type="email" id="modalEmail" name="email"/>
                        <div class="error-message" id="errorEmail"></div>
                    </div>
                    <div class="input-group">
                        <label for="modalPassword">Password</label>
                        <input type="password" id="modalPassword" name="password"/>
                        <div class="error-message" id="errorPassword"></div>
                    </div>
                    <div class="input-group">
                        <label for="modalConfirmPassword">Confirm Password</label>
                        <input type="password" id="modalConfirmPassword" name="confirmPassword"/>
                        <div class="error-message" id="errorConfirmPassword"></div>
                    </div>
                    <div class="input-group">
                        <label for="modalRole">Role</label>
                        <select class="select" id="modalRole" name="role" title="Select a role">
                            <option value="2">Admin</option>
                            <option value="3" selected>Moderator</option>
                            <option value="4">User</option>
                            <option value="5">Guest</option>
                        </select>
                        <div class="error-message" id="errorRole"></div>
                    </div>
                    <div class="input-group">
                        <label for="modalPartner">Branch</label>
                        <select class="select" id="modalPartner" name="partner" title="Select a branch"></select>
                        <div class="error-message" id="errorPartner"></div>
                    </div>
                </form>
            </div>
            <div class="actions">
                <button type="button" class="btn btn-secondary" id="cancelModal">Cancel</button>
                <button type="submit" form="userForm" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>

    <!-- Reset Password Modal -->
    <div id="resetModal" class="modal">
        <div class="modal-content">
            <span id="resetModalClose" class="modal-close">&times;</span>
            <h2 id="resetModalTitle">Reset Password</h2>
            <div id="resetModalBody">
                <form id="resetPasswordForm" class="modal-form">
                    <div class="input-group">
                        <label for="resetUsername">Username</label>
                        <input type="text" id="resetUsername" name="username" readonly />
                    </div>
                    <div class="input-group">
                        <label for="resetPassword">New Password</label>
                        <input type="password" id="resetPassword" name="password" />
                        <div class="error-message" id="errorResetPassword"></div>
                    </div>
                    <div class="input-group">
                        <label for="resetConfirmPassword">Confirm Password</label>
                        <input type="password" id="resetConfirmPassword" name="confirmPassword" />
                        <div class="error-message" id="errorResetConfirmPassword"></div>
                    </div>
                </form>
            </div>
            <div class="actions">
                <button type="button" class="btn btn-secondary" id="cancelResetModal">Cancel</button>
                <button type="submit" form="resetPasswordForm" class="btn btn-primary">Reset</button>
            </div>
        </div>
    </div>
    <script th:src="@{/js/user.js}"></script>
</div>
</body>
</html>