<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<body>
<div layout:fragment="content" th:if="${adminLevel == 1 || adminLevel == 2}">
    <div class="content-card">

        <!-- Card Title -->
        <div class="card-header">
            <h2 th:text="${heading}"></h2>

            <button id="openModalBtn" class="icon-btn" title="Add">
                <svg xmlns="http://www.w3.org/2000/svg" width="27px" height="27px" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="var(--color-blue-dark)" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
                </svg>
            </button>
        </div>

        <!-- Input Parameters -->
        <div class="card-body">
            <div class="filter-form">
                <div class="input-group">
                    <label for="username">USERNAME</label>
                    <input id="username" type="text" placeholder="Username" title="Enter username">
                </div>
                <div class="input-group">
                    <label>&nbsp;</label>
                    <button type="submit" id="filter-button" class="btn-primary">Filter</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Data Table -->
    <div class="card-table">
        <table id="logTable" class="datatable">
            <thead>
            <tr>
                <th>#</th>
                <th>Action</th>
                <th>Username</th>
                <th>Role</th>
                <th>Branch</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <script th:src="@{/js/user.js}"></script>
</div>
</body>
</html>