@import "root.css";

/**
|--------------------------------------------------------------------------
| REDOC
|--------------------------------------------------------------------------
*/
body {
    font-family: var(--font-family);
    font-weight: 400;
}

/* Menu Styling */
.menu-content {
    top: 0 !important;
}

/* Search Input */
.search-input {
    display: none !important;
}

/* Search Container */
div[role="search"] {
    padding: 0 !important;
}

/* Hover Effects on Label in Overview */
div#overview > label:hover {
    background-color: var(--color-gray-200);
    color: var(--color-blue-dark);
}

/* General Page Styling */
#content {
    background-color: var(--color-white);
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px 20px 20px;
    color: var(--color-gray-700);
}

/* Header Styling */
#content header {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: 2px solid var(--color-gray-200);
    text-align: center;
}

/* Main Heading */
#content header h1 {
    font-size: 32px;
    color: var(--color-gray-900);
    margin-bottom: 24px;
    text-align: left;
}

/* Section Styling */
#content section {
    margin-top: 30px;
}

/* API Version Container */
.api-version-container {
    display: flex;
}

/* API Version Styling */
.api-version {
    background-color: var(--color-gray-900);
    color: var(--color-white);
    border-radius: 10px;
    font-size: 11px;
    padding: 0 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

/* API Box Styling */
.api-box {
    background-color: var(--color-gray-800);
    color: var(--color-gray-200);
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
}

/* API Box Title */
.api-box .api-box-title {
    padding: 5px 12px;
}

/* API Box URL */
.api-box .api-box-url {
    border: 14px solid var(--color-gray-700);
    padding: 5px 12px;
}

/* API Box Span */
.api-box span {
    font-weight: normal;
}

/* Section Titles */
#content h2 {
    font-size: 22px;
    color: var(--color-gray-800);
    margin-bottom: 30px;
    border-radius: 5px;
}

/* Paragraph Styling */
#content p {
    font-size: 16px;
    line-height: 1.6;
    margin: 10px 0;
}

/* Code Block Styling */
#content pre {
    background-color: var(--color-black);
    padding: 12px;
    border-radius: 5px;
    overflow-x: auto;
    border-left: 5px solid var(--color-black);
}

/* Inline Code Styling */
#content code {
    font-family: 'Courier New', monospace;
    font-size: 14px;
    font-weight: bold;
    color: var(--color-gray-200);
    white-space: pre-wrap;
}

/* Code Description List */
.code-description {
    list-style-type: disc;
    color: var(--color-black);
}

/* Code Description Span */
.code-description span {
    background-color: var(--color-gray-50);
    border: 1px solid var(--color-gray-200);
    border-radius: 3px;
    padding: 2px 4px;
}

/* Table Styling */
.fmis-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background-color: var(--color-white);
    border-radius: 6px;
    overflow: hidden;
}

/* Table Cells and Headers */
.fmis-table th, .fmis-table td {
    border: 1px solid var(--color-gray-200);
    padding: 12px;
    text-align: left;
}

/* Table Header Styling */
.fmis-table th {
    background-color: var(--table-thead-bg);
    color: var(--color-gray-800);
    font-weight: bold;
}

/* Table Row Hover Styling */
.fmis-table tr:nth-child(even) {
    background-color: var(--color-gray-50);
}

/* Highlighting Important Text */
#content strong {
    color: var(--color-gray-900);
}

/* Responsive Design */
@media (max-width: 768px) {
    #content {
        padding: 10px;
    }

    #content pre {
        font-size: 14px;
    }

    .fmis-table th, .fmis-table td {
        padding: 10px;
    }
}