<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/img/logo-fmis-v2-300x190-1.png" rel="shortcut icon">
    <script src="/libs/datatables/jquery-3.6.0.min.js"></script>
    <script src="/libs/jquery-ui/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/css/login.css">
    <title>{{title}}</title>
</head>
<body>
<div class="container">
    <div class="left">
        <div>
            <img src="/img/logo-fmis-v2-300x190-1.png" alt="Logo" style="max-width: 150px; margin-bottom: 1rem;">
            <h2>Financial Management Information System</h2>
        </div>
    </div>
    <div class="right">
        <div class="login-box">
            <h2>{{heading}}</h2>
            <p>FMIS Proxy Interface</p>

            <form id="login-form">
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" id="username">
                    <div id="username-error" class="error-message" style="display: none;">The Username field is required</div>
                </div>

                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password">
                    <div id="password-error" class="error-message" style="display: none;">The Password field is required</div>
                </div>

                <button type="submit" class="login-btn">
                    <span id="button-text">Log in</span>
                    <svg id="spinner" class="spinner" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                        <rect x="0" y="10" width="4" height="10" fill="#FFFFFF" opacity="0.2">
                            <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s" repeatCount="indefinite"></animate>
                            <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s" repeatCount="indefinite"></animate>
                            <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s" repeatCount="indefinite"></animate>
                        </rect>
                        <rect x="8" y="10" width="4" height="10" fill="#FFFFFF" opacity="0.2">
                            <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s" repeatCount="indefinite"></animate>
                            <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite"></animate>
                            <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite"></animate>
                            </rect>
                        <rect x="16" y="10" width="4" height="10" fill="#FFFFFF" opacity="0.2">
                            <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s" repeatCount="indefinite"></animate>
                            <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite"></animate>
                            <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite"></animate>
                        </rect>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="popup-modal" class="modal-overlay">
    <div class="modal-box">
        <div id="modal-content">
            <h2>Admin Console</h2>
            <p>Please choose what you'd like to view.</p>
            <div class="modal-scroll-container">
                <div class="modal-table">
                    <div class="modal-row">
                        <span class="modal-cell-label">Bank Statement History</span>
                        <a href="{{apiPrefix}}/admin/bank-statement-log" class="modal-cell-link">View</a>
                    </div>
                </div>
                <div class="modal-table">
                    <div class="modal-row">
                        <span class="modal-cell-label">SARMIS Interface History</span>
                        <a href="{{apiPrefix}}/admin/sarmis-interface-log" class="modal-cell-link">View</a>
                    </div>
                </div>
                <div class="modal-table">
                    <div class="modal-row">
                        <span class="modal-cell-label">Internal CamDigiKey</span>
                        <a href="{{apiPrefix}}/admin/internal-camdigikey" class="modal-cell-link">View</a>
                    </div>
                </div>
                <div class="modal-table">
                    <div class="modal-row">
                        <span class="modal-cell-label">FMIS Configuration</span>
                        <a href="{{apiPrefix}}/admin/fmis-config" class="modal-cell-link">View</a>
                    </div>
                </div>
            </div>
        </div>
        <button class="modal-close-btn">
            ✖ Close
        </button>
    </div>
</div>
<div class="api-prefix" data-api-prefix="{{apiPrefix}}"></div>
<script src="/js/login.js"></script>
</body>
</html>
