<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/img/logo-fmis-v2-300x190-1.png" rel="shortcut icon">
    <script src="/libs/datatables/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/libs/datatables/jquery.dataTables.min.css">
    <script src="/libs/datatables/jquery.dataTables.min.js"></script>
    <script src="/libs/jquery-ui/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/libs/flatpickr/flatpickr.min.css">
    <script src="/libs/flatpickr/flatpickr.js"></script>
    <link rel="stylesheet" href="/css/security-server.css">
    <title>{{title}}</title>
</head>
<body>
<h2>{{heading}}</h2>
<div class="filter-bar">
    <label>
        <span class="input-title">NAME</span><br>
        <input id="name" type="text" placeholder="Name" title="Enter name">
    </label>
    <label>
        <span class="input-title">CONFIG KEY</span><br>
        <input id="configKey" type="text" placeholder="Config Key" title="Enter config key">
    </label>
    <label>
        <span class="input-title">DESCRIPTION</span><br>
        <input id="description" type="text" placeholder="Description" title="Enter description">
    </label>
    <label>
        <span class="input-title">CREATED DATE</span><br>
        <input id="createdDate" type="text" title="Select created date" placeholder="ᴅᴅ / ᴍᴍ / ʏʏʏʏ">
    </label>
    <label>
        <span class="input-title"></span><br>
        <span class="actions">
            <button class="filter-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" viewBox="0 0 16 16" version="1.1" fill="none" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                    <polygon points="1.75 1.75,14.25 1.75,14.25 3.25,9.25 8.75,9.25 12.75,6.75 14.25,6.75 8.75,1.75 3.25"/>
                </svg>
                <span>Filter</span>
            </button>
        </span>
    </label>
    <label>
        <span class="input-title"></span><br>
        <span class="actions">
            <button class="btn btn-logout">
                <svg xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" viewBox="0 0 24 24" fill="none">
                    <path opacity="1" d="M9.00195 7C9.01406 4.82497 9.11051 3.64706 9.87889 2.87868C10.7576 2 12.1718 2 15.0002 2L16.0002 2C18.8286 2 20.2429 2 21.1215 2.87868C22.0002 3.75736 22.0002 5.17157 22.0002 8L22.0002 16C22.0002 18.8284 22.0002 20.2426 21.1215 21.1213C20.2429 22 18.8286 22 16.0002 22H15.0002C12.1718 22 10.7576 22 9.87889 21.1213C9.11051 20.3529 9.01406 19.175 9.00195 17" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round"/>
                    <path d="M15 12L2 12M2 12L5.5 9M2 12L5.5 15" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <span>Logout</span>
            </button>
        </span>
    </label>
</div>

<div class="table-container">
    <table id="securityServerTable">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Config Key</th>
            <th>Base URL</th>
            <th>Endpoint</th>
            <th>Subsystem</th>
            <th>Username</th>
            <th>Password</th>
            <th>Content Type</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<!-- Modal -->
<div id="modal" class="modal">
    <div class="modal-content">
        <span id="modalClose" class="modal-close">&times;</span>
        <h2 id="modalTitle">Edit Server Configuration</h2>
        <div id="modalBody">
            <form id="editServerForm" class="modal-form">
                <div class="input-group">
                    <label for="modalName">Name</label>
                    <input type="text" id="modalName" name="name"/>
                    <div class="error-message" id="errorName"></div>
                </div>
                <div class="input-group">
                    <label for="modalConfigKey">App Key</label>
                    <input type="text" id="modalConfigKey" name="configKey"/>
                    <div class="error-message" id="errorConfigKey"></div>
                </div>
                <div class="input-group">
                    <label for="modalBaseURL">Base URL</label>
                    <input type="text" id="modalBaseURL" name="baseURL"/>
                    <div class="error-message" id="errorBaseURL"></div>
                </div>
                <div class="input-group">
                    <label for="modalEndpoint">Endpoint</label>
                    <input type="text" id="modalEndpoint" name="endpoint"/>
                    <div class="error-message" id="errorEndpoint"></div>
                </div>
                <div class="input-group">
                    <label for="modalSubsystem">Subsystem</label>
                    <input type="text" id="modalSubsystem" name="subsystem"/>
                    <div class="error-message" id="errorSubsystem"></div>
                </div>
                <div class="input-group">
                    <label for="modalContentType">ContentType</label>
                    <input type="text" id="modalContentType" name="contentType"/>
                    <div class="error-message" id="errorContentType"></div>
                </div>
                <div class="input-group">
                    <label for="modalUsername">Username</label>
                    <input type="text" id="modalUsername" name="username"/>
                    <div class="error-message" id="errorUsername"></div>
                </div>
                <div class="input-group">
                    <label for="modalPassword">Password</label>
                    <input type="text" id="modalPassword" name="password"/>
                    <div class="error-message" id="errorPassword"></div>
                </div>
                <div class="input-group description-group">
                    <label for="modalDescription">Description</label>
                    <textarea id="modalDescription" name="description"></textarea>
                    <div class="error-message" id="errorDescription"></div>
                </div>
            </form>
        </div>
        <div class="actions">
            <button type="button" class="btn btn-secondary" id="cancelModal">Cancel</button>
            <button type="submit" form="editServerForm" class="btn btn-primary">Save</button>
        </div>
    </div>
</div>

<div class="credentials">
    <div data-username="{{username}}"></div>
    <div data-password="{{password}}"></div>
    <div data-partner-token="{{partnerToken}}"></div>
</div>
<div class="api-prefix" data-api-prefix="{{apiPrefix}}"></div>
<script src="/js/security-server.js"></script>
</body>
</html>